<h2>Contact Us</h2>
<p>
Yen Joe Tan, Ph.D. <br>
Associate Professor <br>
Department of  Department of Earth and Environmental Sciences <br>
The Chinese University of Hong Kong <br>
<br>
email: yjtan (at) cuhk.edu.hk <br>
<br>
Room 309 (Lab 4), 3/F, <br>
Mong Man Wai Building, EES, CUHK, <br>
Sha Tin, New Territories, <br>
Hong Kong, Hong Kong SAR <br>
</p>

<p>
 <h3> Interested in joining us? </h3>
 Our group is always looking for excellent students/postdocs. Please reach out if you think we would be a good fit<br>

 <br>
 We welcome applicants from <b>all</b> backgrounds.<br>

<p>
 <h3> Read our <a href="{{ site.url }}/philosophy/">lab compact and philosophy</a></h3>

</p>


<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
